<a href="https://colab.research.google.com/github/kwenus/Lipo-Helper/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Функции

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
def summary(a, b):
  '''
  This func return sum of params
  '''
  return a + b

In [7]:
help(summary)

Help on function summary in module __main__:

summary(a, b)
    This func return sum of params

In [24]:
def listed(ls_1, ls_2, ls_3):
  ls_ziped = zip(ls_1, ls_2, ls_3)
  return ls_ziped

In [25]:
ls_1 = [1, 3, 4, 5]
ls_2 = ['d', 'g', 'r', 'e', 'q']
ls_3 = [['kok', 'dod', 'gog'], ['pop', 'lol', 'uou']]

In [29]:
ziped_ls = listed(ls_1, ls_2, ls_3)
for el in ziped_ls:
  print(el)

(1, 'd', ['kok', 'dod', 'gog'])
(3, 'g', ['pop', 'lol', 'uou'])

In [59]:
ls_grades = [
    [8, 8, 9, 10, 9],
    [7, 8, 9, 7, 9],
    [10, 9, 8, 10, 10],
    [7, 8, 8, 9 , 8],
    [9, 8, 9, 6, 9],
    [8, 9, 9, 6, 9]
]

ls_exams = [8, 9, 7, 10, 5, 6]

i = 0

students = []

for el in range(6):
  el = {
      'name': input('Назовите свое имя: '),
      'surname': input('Назовите свою фамилию: '),
      'gender': input('Ваш пол: '),
      'program_exp': bool(input('Ваш опыт в программировании: ')),
      'grade': ls_grades[i],
      'exam': ls_exams[i],
  }
  students.append(el)
  i += 1

Назовите свое имя: Костя
Назовите свою фамилию: Канатьев
Ваш пол: м
Ваш опыт в программировании: 1
Назовите свое имя: Анна
Назовите свою фамилию: Федотова
Ваш пол: ж
Ваш опыт в программировании:
Назовите свое имя: Рома
Назовите свою фамилию: Тесля
Ваш пол: м
Ваш опыт в программировании:
Назовите свое имя: Дима
Назовите свою фамилию: Жаворонков
Ваш пол: м
Ваш опыт в программировании: 1
Назовите свое имя: Наталья
Назовите свою фамилию: Воронова
Ваш пол: ж
Ваш опыт в программировании: 1
Назовите свое имя: Максим
Назовите свою фамилию: Дьяков
Ваш пол: м
Ваш опыт в программировании: 1

In [42]:
from pprint import pprint

In [60]:
for el in students:
  print(el)

{'name': 'Костя', 'surname': 'Канатьев', 'gender': 'м', 'program_exp': True, 'grade': [8, 8, 9, 10, 9], 'exam': 8}
{'name': 'Анна', 'surname': 'Федотова', 'gender': 'ж', 'program_exp': False, 'grade': [7, 8, 9, 7, 9], 'exam': 9}
{'name': 'Рома', 'surname': 'Тесля', 'gender': 'м', 'program_exp': False, 'grade': [10, 9, 8, 10, 10], 'exam': 7}
{'name': 'Дима', 'surname': 'Жаворонков', 'gender': 'м', 'program_exp': True, 'grade': [7, 8, 8, 9, 8], 'exam': 10}
{'name': 'Наталья', 'surname': 'Воронова', 'gender': 'ж', 'program_exp': True, 'grade': [9, 8, 9, 6, 9], 'exam': 5}
{'name': 'Максим', 'surname': 'Дьяков', 'gender': 'м', 'program_exp': True, 'grade': [8, 9, 9, 6, 9], 'exam': 6}

In [44]:
# средний бал группы
def avarage_grade(ls):
  total = 0
  for el in ls:
    total += sum(el.get('grade')) / len(el.get('grade'))
  return round(total / len(ls), 2)

In [45]:
avarage_grade(students)

8.43

In [63]:
# выводит студентов с опытом и без опыта

def filtered_students(ls, exp):
  res_ls = []
  for el in ls:
    if el.get('program_exp') == exp:
      res_ls.append(f"{el.get('name')} {el.get('surname')}")
  return res_ls

In [66]:
filtered_students(students, False)

['Анна Федотова', 'Рома Тесля']

In [65]:
filtered_students(students, True)

['Костя Канатьев', 'Дима Жаворонков', 'Наталья Воронова', 'Максим Дьяков']

In [68]:
# этот вариант возвращает карточку студента

def filtered_exp(ls, exp):
  res_ls = []
  for el in ls:
    if el.get('program_exp') == exp:
      res_ls.append(el)
  return res_ls

In [71]:
# теперь передаем его в первую функцию

avarage_grade(filtered_exp(students, True))

8.3

In [72]:
avarage_grade(filtered_exp(students, False))

8.7

In [78]:
# функция дает возможность фильтровать по обоим параметрам

def filtered_exp_gender(ls, exp=None, gender=None):
  res_ls = []
  for el in ls:
    if (el.get('program_exp') is exp or exp is None) and (el.get('gender') == gender or gender is None):
      res_ls.append(el)
  return res_ls

In [81]:
filtered_exp_gender(students, False, 'ж')

[{'name': 'Анна',
  'surname': 'Федотова',
  'gender': 'ж',
  'program_exp': False,
  'grade': [7, 8, 9, 7, 9],
  'exam': 9}]

In [82]:
# что бы использовать только один параметр, надо вводить его именованным
filtered_exp_gender(students, gender='ж')

[{'name': 'Анна',
  'surname': 'Федотова',
  'gender': 'ж',
  'program_exp': False,
  'grade': [7, 8, 9, 7, 9],
  'exam': 9},
 {'name': 'Наталья',
  'surname': 'Воронова',
  'gender': 'ж',
  'program_exp': True,
  'grade': [9, 8, 9, 6, 9],
  'exam': 5}]

In [ ]:
def av_student_grade(ls):
  av_ls_grade = []